html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	font-family: 'BrutalType';
	font-weight: 500;
	scroll-behavior: smooth;
	color: $grey;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.container{
	max-width: 1670px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

a{
	color: inherit;
}