.header.header__production{
    min-height: auto;
    background: #1a1a1b;
}

.production {
    background: #1a1a1b;
}
.production__box{
    display: flex;
    flex-wrap: wrap;
}
.production__inner {
    position: relative;
}
.production__box-null {
    background: url('../images/production-1.jpg') no-repeat ;
    background-size: cover;
    width: 50%;
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 10;
}
.production__box-info {
    max-width: 690px;
    padding-bottom: 137px;
    padding-right: 122px;
}
.production__box-title {
    padding-top: 120px;
    margin-bottom: 53px;
    font-size: 50px;
    font-weight: bold;
}
.production__box-text {
    margin-bottom: 30px;
    font-size: 21px;
}
.production__box-null.production__box-null--fees{
    background: url('../images/fees-bg.jpg');
}



@media(max-width: 1190px){
    .production__box-null{
        position: relative;
        width: 100%;
        background: url('../images/production.bg.jpg') no-repeat center;
        background-size: cover;
        height: 500px;
    }
}

@media(max-width: 800px){
    .production__box-text.about__content-text--mobile{
        display: none;
    }
}
@media(max-width: 500px){
    .production__box-title{
        padding-top: 25px;
        margin-bottom: 25px;
        font-size: 24px;
    }
    .production__box-text{
        font-size: 16px;
    }
    .production__box-info {
        padding-right: 0;
        padding-bottom: 30px;
    }
    .production__box-null{
        height: 230px;
        background-size: contain;
    }
}